{% extends 'base.html' %}
{% block content %}
<center>
    <div class="EcellInfo">
        <h2>What is an Entrepreneurship cell?</h2>
        <h3>Entrepreneurship cell is a non-profit student's organization dedicated to promoting the spirit of
            entrepreneurship among students. </h3>
        <h2 class="EcellInfoSub">How will MIT-WPU E-cell work?</h2>
        <h3>The basic aim of E-Cell is to encourage college-level students to start their own enterprise.</h3>
        <h2 class="EcellInfoSub">What is the aim of an Entrepreneurship cell?</h2>
        <h3>The basic aim of E-Cell is to encourage college-level students to start their own enterprise.</h3>
        <h3>An E-cell also organizes lectures of successful entrepreneurs from various fields to inspire the students.</h3>
</center>
</div>

{% endblock content %}