{% extends 'base.html' %}
{% block content %}

    {% for msg in get_flashed_messages() %}
      <div class="alert alert-light alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              
          </button>
          {{msg}}
        </div>
    {% endfor %}

    
<div style="color:white">
    <div style="font-family: Azeret Mono; padding-top: 80px;">
        <center>
            <div style="border-radius: 120px; background-color:rgba(68, 66, 66, 0.699);padding: 50px;width:95%;">
                <h1>ENTREPRENEURSHIP CELL MIT-WPU</h1><br>
                <h2>IDEATE.INNOVATE.ACCUTATE.</h2>
            </div><br><br><br><br>
        </center>
    </div>
</div>
{% endblock content %}