{% extends 'base.html' %}
{% block content %}
<div style="color:white">
    <div style="font-family: Azeret Mono; padding-top: 200px;">
        <center>
            <div style="border-radius: 120px; background-color:rgba(68, 66, 66, 0.699);padding: 50px;width:95%;">
                <h1>ENTREPRENEURSHIP CELL MIT-WPU</h1><br>
                <h2>IDEATE.INNOVATE.ACCUTATE.</h2>
            </div><br><br>
        </center>
        <h4>What is an e-cell?</h4>
        <h5>Entrepreneurship cell is a non-profit student's organization dedicated to promoting the spirit of
            entrepreneurship
            among students.
            The basic aim of E-Cell is to encourage college-level students to start their own enterprise.</h5>
    </div>

</div>
{% endblock content %}